<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<title>Test_Kimn</title>

        <link rel="stylesheet" href="../static/css/bootstrap_min.css">
        <link rel="stylesheet" href="../static/css/font.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/simplebar.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="../static/css/jquery.css">
        <link rel="stylesheet" class="back-color" href="../static/css/style-dark.css">
		<link rel="stylesheet" href="../static/css/style-demo.css">

		<link rel="stylesheet" class="posit-nav" href="../static/css/settings/left-nav.css" />
		<link rel="stylesheet" class="theme-color" href="../static/css/settings/orange.css" />
		<link rel="stylesheet" class="box-st" href="../static/css/settings/circle-box.css" />
		
    </head>
    <body>

			<div id="home">
					<div id="about">
				  <div id="resume">
					  
					  <div class="header-mobile">
						 
						  <h2>Kim_n</h2>
					  </div>
		  
						<div class="pt-home page" >
							<section class="container">
							  <div class="header-page mt-100 mob-mt">
							  </br></br>
								  <h2>Board</h2>
							  </div>
							  <form method="POST">
							  <div class="row mt-30">
								  <div class="col-lg-12 col-sm-12">
									  <div class="info box-1">
										  <div class="row">
											  <div class="col-lg-9 col-sm-8">
												  <h4>{{people.id}} 번째 글</h4></br>
												  <h4>Title</h4>
												  <p></p>
												  <div class ="contact-form">
												  <input name= "title" type= "text" style= "color: #fd7e14" value= {{people.name}}>
												  </div>
												  <p></p></br></br>
												  <h4>Content</h4>
												  <div class ="contact-form">
												  <textarea name= "content" style= "color: #fd7e14; width: 400px" >{{people.intro}}</textarea>
												  </div>
												  </br>
												  <button type="submit" class="btn-st" style= "width: 70px ">Modify</button>&nbsp;&nbsp;
												  <button type="button" class="btn-st" onclick="location.href='{% url 'delete' people.id %}'">Delete</button>
											  </div>
										  </div>
									  </div>
								  </div>
							  </div>
							  
						  </form>
						  </section>
						</div>
				  </div>
					</div>
				  </div>
					</div>
				  </div>
				  </div>
		
		<!-- All Script -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/isotope.pkgd.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/simplebar.js"></script>
		<script src="../static/js/owl.carousel.min.js"></script>
		<script src="../static/js/jquery.magnific-popup.min.js"></script>
		<script src="../static/js/jquery.animatedheadline.min.js"></script>
		<script src="../static/js/jquery.easypiechart.js"></script>
		<script src="../static/js/jquery.validation.js"></script>
		<script src="../static/js/tilt.js"></script>
        <script src="../static/js/main.js"></script>
		<script src="../static/js/main-demo.js"></script>
		
    </body>
</html>
